
body{
    background-color: #F5D2EB;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.yay{
    font-size: 30px;
    font-family: sans-serif;
    color: #D780AF;
    text-align: center;
    margin-top: 10px;
    margin-left: 35px;
}

.text{
    font-size: 30px;
    font-family: sans-serif;
    color: #D780AF;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-top: 20px;
    width: 350px;
}